#calendar{
/*	max-width: 900px;
	margin: 0 auto; */
	margin-top:10px;
	margin-bottom: 30px;
	
}
.tooltip-inner{
    max-width: 300px;
}
.panel-info>.panel-heading>.col-xs-9{
    margin: 0;
    padding: 0;
}
.agd-tip-title{
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    padding: 8px 14px;
    text-align: right;
}
.agd-tip-hour{
    width: 150px;
}

.agd-tip-content{
    background-color: #EAEAEA;
    
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    padding: 8px 14px;
    
}
.tooltip-content{
    padding: 9px 14px;
}
.alert {
    margin: 0;
}
.pad-15{
    padding: 15px;
}
.pad-10{
    padding-left: 15px;
}

td div label {
    margin-right: 5px;
}
/* ----- Animation page admin ------- */
.anim {
    background-color: red;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 10s;
}

/* ----- Modal Confirm --------- */
/* The Modal (background) */
/*.modal {
    display: none;  Hidden by default 
    position: fixed;  Stay in place 
    z-index: 1;  Sit on top 
    padding-top: 100px;  Location of the box 
    left: 0;
    top: 0;
    width: 100%;  Full width 
    height: 100%;  Full height 
    overflow: auto;  Enable scroll if needed 
    background-color: rgb(0,0,0);  Fallback color 
    background-color: rgba(0,0,0,0.4);  Black w/ opacity 
}*/

/* Modal Content */
/*.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}*/

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
/*.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}*/

/*.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}*/