#calendar{
/*	max-width: 900px;
	margin: 0 auto; */
	margin-top:10px;
	margin-bottom: 30px;
	
}

.alert {
    margin: 0;
}
.pad-15{
    padding: 15px;
}
.pad-10{
    padding-left: 15px;
}

td div label {
    margin-right: 5px;
}